# x-archived-from: library-of-congress-members-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Library of Congress Congress.gov Members API
  description: The Congress.gov API provides programmatic access to legislative information from the U.S. Congress, including bills, laws, members, committees, amendments, and Congressional Record content. An API key is required for access.
  version: 1.0.0
  contact:
    name: Library of Congress
    url: https://api.congress.gov/
servers:
- url: https://api.congress.gov/v3
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Members
paths:
  /member:
    get:
      operationId: listMembers
      summary: List Members
      description: List members of Congress.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Members list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberList'
  /member/{bioguideId}:
    get:
      operationId: getMember
      summary: Get Member
      tags:
      - Members
      parameters:
      - name: bioguideId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Member detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
components:
  parameters:
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 250
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - xml
        default: json
  schemas:
    Member:
      type: object
      properties:
        bioguideId:
          type: string
        name:
          type: string
        state:
          type: string
        party:
          type: string
        chamber:
          type: string
        url:
          type: string
          format: uri
    MemberList:
      type: object
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/Member'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Pagination:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
        prev:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
