# x-archived-from: library-of-congress-congressional-record-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Library of Congress Congress.gov Congressional Record API
  description: The Congress.gov API provides programmatic access to legislative information from the U.S. Congress, including bills, laws, members, committees, amendments, and Congressional Record content. An API key is required for access.
  version: 1.0.0
  contact:
    name: Library of Congress
    url: https://api.congress.gov/
servers:
- url: https://api.congress.gov/v3
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Congressional Record
paths:
  /congressional-record:
    get:
      operationId: listCongressionalRecord
      summary: List Congressional Record
      tags:
      - Congressional Record
      parameters:
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Congressional Record entries
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 250
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - xml
        default: json
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
