# x-archived-from: library-of-congress-committees-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Library of Congress Congress.gov Committees API
  description: The Congress.gov API provides programmatic access to legislative information from the U.S. Congress, including bills, laws, members, committees, amendments, and Congressional Record content. An API key is required for access.
  version: 1.0.0
  contact:
    name: Library of Congress
    url: https://api.congress.gov/
servers:
- url: https://api.congress.gov/v3
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Committees
paths:
  /committee:
    get:
      operationId: listCommittees
      summary: List Committees
      tags:
      - Committees
      parameters:
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Committees list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitteeList'
components:
  parameters:
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        maximum: 250
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - xml
        default: json
  schemas:
    Pagination:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
        prev:
          type: string
    CommitteeList:
      type: object
      properties:
        committees:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              chamber:
                type: string
              systemCode:
                type: string
              url:
                type: string
                format: uri
        pagination:
          $ref: '#/components/schemas/Pagination'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
